<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com-jernung-plugin-firebase-admob"
        version="0.1.0">

  <name>Firebase Analytics Plugin</name>
  <description>A Cordova plugin for Firebase Analytics.</description>
  <author>Joshua McFarland</author>
  <license>MIT</license>
  <keywords>cordova,firebase,admob</keywords>

  <engines>
    <engine name="cordova" version=">=6.0.0" />
  </engines>

  <js-module src="www/firebase-admob.js" name="FirebaseAdmobPlugin">
    <clobbers target="plugins.firebase.admob" />
  </js-module>

  <dependency id="com-jernung-plugin-firebase" url="https://github.com/mcfarljw/cordova-plugin-firebase" />

  <platform name="android">

    <config-file target="config.xml" parent="/*">
      <feature name="FirebaseAdmobPlugin" >
        <param name="android-package" value="com.jernung.plugins.firebase.admob.FirebaseAdmobPlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.WAKE_LOCK" />
    </config-file>

    <framework src="com.google.firebase:firebase-ads:11.8.0" />

    <source-file src="src/android/FirebaseAdmobPlugin.java" target-dir="src/com/jernung/plugins/firebase/admob" />

  </platform>

  <platform name="ios">

    <config-file target="config.xml" parent="/*">
			<feature name="FirebaseAdmobPlugin">
				<param name="ios-package" value="FirebaseAdmobPlugin" />
				<param name="onload" value="true" />
			</feature>
		</config-file>

    <header-file src="src/ios/Firebase/Firebase.h" />
    <header-file src="src/ios/FirebaseAdmobPlugin.h" />
    <source-file src="src/ios/FirebaseAdmobPlugin.m" />

    <framework src="CoreMotion.framework" />
    <framework src="CoreTelephony.framework" />
    <framework src="GLKit.framework" />
    <framework src="MediaPlayer.framework" />
    <framework src="MessageUI.framework" />
    <framework src="src/ios/Firebase/GoogleMobileAds.framework" custom="true" />

  </platform>

</plugin>
